* {
  box-sizing: border-box;
  max-width: 768px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.search_bar {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-family: inherit;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  font-size: 1rem;
  text-align: center;
}

.search_bar:focus {
  outline: none;
}

main {
  text-align: center;
  color: #fff;
}

.back_ground_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.weather_icon {
  border: 1px solid inherit;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.459);
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.836);
  display: flex;
  padding: 2% 10%;
}

.modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5%;
  /* text-align: center; */
}
.modal form input {
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
}

.modal form button {
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
}
